* {
    margin: 0;
    box-sizing: border-box;
}

li {
    display: inline;
    padding: 30px;
    font-size: 20px;


}

li a {
    text-decoration: none;

    border-radius: 5px;
}

nav {
    text-decoration-style: none;
    /* position: sticky;
    top: 0; */
}

.adventure {
    padding-right: 400px;
    font-size: 40px;
    color: white;
    font-size: 50px;
    padding-top: 55px;
}

ul {
    text-decoration-style: none;

}

li a {
    color: rgb(0, 0, 0);
}

li a:hover {
    color: yellow;
}

.main1 {
    color: rgb(202, 196, 196);
    font-size: 50px;
    text-align: center;
    margin-top: 300px;

}

.main2 {
    text-align: center;
    font-size: 90px;
    color: white;
    padding-bottom: 230px;
    padding-top: 70px;
}

#b {
    background-image: url(download.jpg);
    background-size: cover;
    display: flex;
}

#upcoming {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.image1 {
    flex: 1;
    margin: 10px;
}

.image2 {
    flex: 1;
    margin: 10px;
}

section {
    display: flex;
}

#c {
    flex: 1;
}

#d {
    flex: 1;
}

.image3 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.image4 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    margin: auto;
}

.p {
    padding-top: 15px;
}

.p1 {
    padding-top: 15px;
}
/* 
.learn {
    border: 2px solid black;
    padding: 8px;
    margin: auto;
    text-align: center;
    width: 140px;
    border-radius: 15px;
    background-color: rgb(226, 83, 107);
    margin-left: 1000px;
    margin-top: 90px;
} */

.learnmore {
    border: solid 2px black;
    padding: 8px;
    display: inline-block;
}

#wanderer {
    text-align: center;
    font-size: 70px;
    padding-top: 90px;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: coral;
}

article {
    height: 700px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.upcomingevent {
    font-size: 90px;
    padding-top: 360px;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-shadow: 10px 2px 4px rgb(128, 137, 61);
}

.upcomingevent1 {
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-style: italic;
}

#tours {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}



#toursmain {
    display: flex;
}

#toursimage img {
    width: 300px;
    flex: 1;
    padding-top: 40px;

}

#footer1 {
    background-color: rgb(226, 221, 221);
    height: 130px;
    padding: 10px 10px;
    padding-top: 60px;
    text-align: center;
    margin-top: 80px;

}

.button {
    background-color: black;
    color: orange;
}

.reset {
    background-color: black;
    color: orange;
}

#footer2 {
    background-color: rgb(72, 72, 72);
    height: 360px;
    padding-left: 90px;

}

span {
    font-size: 40px;
    padding-left: 400px;
    color: rgb(255, 221, 0);
    padding-top: 500px;

}

ul.footer2 li {
    display: block;
    padding: 10px 0;
}

#footer2 {
    padding-top: 30px;
}

ul.footer2 {
    padding-top: 30px;
    /* text-align: center; */
    /* text-align: justify;     */
    padding-left: 400px;
    color: white;
}
select{
    float: right;
    color: rgb(38, 20, 102);
    position: fixed;
    bottom: 30px;
    right: 0;
}
ul.footer2 li a:hover {
    color: rgb(0, 255, 140);
}
